.idea/workspace.xml
.idea/sdp-vision.iml
.idea/vision.iml
.idea/misc.xml

*~

# TODO: if using external libs without src,
# add exceptions
*.pyc
*/*.pyc
__pycache__/

# Installer logs 
pip-log.txt 
pip-delete-this-directory.txt 

!.gitignore

restore_v4lctl_settings.sh